body {
  margin: 50px;
}

.timer {
  margin: 0 auto;
  display: flex;
  text-align: center;
  justify-content: center;
}

.field {
  padding: 20px;
  background-color: #000;
  border-radius: 15%;
}

.field:not(:last-child) {
  margin-right: 20px;
}

.value {
  font-size: 50px;
  color: #fff;
}

.label {
  font-size: 10px;
  color: #fff;
}
